@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body {
    aspect-ratio: 3 / 4;
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

#day-num {
    font-size: 70px;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 105px;
    padding-bottom: 0px;
}

#day-month-year {
    padding-left: 0px;
    margin-left: 0px;
    text-align: right;
    padding-bottom: 0;
    padding-top: 10px;
}

#day {
    font-size: 25px;
}

#month-year {
    font-weight: normal;
    font-size: 15px;
    padding-bottom: 0;
}

#time {
    font-size: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.current-date {
    margin-bottom: 15px;
}

.current-date ul {
    list-style: none;
    border: 2px solid white;
    margin: 5px;
    border-radius: 20px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 25px;
    margin-right: 30px;
    margin-left: 4px;
}

.current-date li {
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 0px;
    display: inline-block;
}

.current-date h2 {
    margin: 0px;
    padding: 0px;
}

.event-entry {
    border: 2px solid white;
    border-radius: 20px;
    margin: 5px;
    margin-right: 30px;
    margin-left: 4px;
}

.event-entry p {
    font-size: 12px;
    padding-right: 15px;
    margin-top: 0px;
    padding-top: 0px;
    text-align: right;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.event-entry h1 {
    padding-top: 7px;
    margin-top: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    padding-left: 15px;
    margin-bottom: 0;
    font-weight: normal;
}